.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.navbar-left,
.navbar-right {
  align-items: center;
  display: flex;
  gap: 1rem;
}

.nav-item {
  border-bottom: 4px solid transparent;
  color: var(--colour-primary);
  font-size: 20px;
  text-decoration: none;
}

.nav-item:not(.nav-item-active):hover {
  border-bottom-color: var(--colour-secondary-light);
  color: var(--colour-secondary-light);
  text-decoration: none;
}

.nav-item-active {
  border-bottom: 4px solid var(--colour-secondary);
}

.navbar-user {
  color: var(--colour-primary);
  font-size: 20px;
  font-weight: 700;
}

.navbar-right > *:not(:first-child) {
  border-left: 1px solid var(--colour-primary);
  margin-left: 1rem;
  padding-left: 1rem;
}

.navbar-logout,
.btn-primary {
  align-items: center;
  background: var(--colour-accent);
  border: none;
  border-radius: 6px;
  color: white;
  display: inline-flex;
  font-size: 16px;
  gap: 0.5rem;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.navbar-logout:hover,
.btn-primary:hover {
  background: var(--colour-secondary);

}

@media (max-width: 720px) {
  .navbar {
    flex-wrap: wrap;
    justify-content: center;
  }

  .navbar-left,
  .navbar-right {
    flex-wrap: wrap;
    justify-content: center;
  }
}
